<app-header></app-header>
<app-return [pageName]="'Materials'"></app-return>
<div class="content">
    <div class="item">
        <div class="date">
            <b>Tissue</b>
        </div>
        <span class="status">20</span>
    </div>
    <div class="item">
        <div class="date">
            <b>Diaper</b>
        </div>
        <span class="status">46</span>
    </div>
    <div class="item-last">
        <div class="date">
            <b>Water</b>
        </div>
        <span class="status">543</span>
    </div>
</div>