<app-header></app-header>
<app-return [pageName]="'Fees'"></app-return>
<div class="content" (click)="closeSheet()">
    <div class="item">
        <div class="date">
            <b>Total Fees ¢</b>
        </div>
        <span class="status">{{ feeData[0].bill }}</span>
    </div>
    <div class="item">
        <div class="date">
            <b>Amount Paid ¢</b>
        </div>
        <span class="status">{{feeData[0].paid}}</span>
    </div>
    <div class="item-last">
        <div class="date">
            <b>Amount Oweing ¢</b>
        </div>
        <span class="status">{{feeData[0].balance}}</span>
    </div>
</div>
<div class="history" (click)="openBottomSheet()">Transaction History</div>

