<app-header></app-header>
<app-return [pageName]="'Attendance'"></app-return>

<div class="content">
    <div class="item">
        <div class="date">
            <b>Date</b>
            <span>2024-04-6</span>
        </div>
        <span class="status">In</span>
    </div>
    <div class="item">
        <div class="date">
            <b>Date</b>
            <span>2024-04-6</span>
        </div>
        <span class="status">In</span>
    </div>
    <div class="item">
        <div class="date">
            <b>Date</b>
            <span>2024-04-6</span>
        </div>
        <span class="status">In</span>
    </div>
    <div class="item">
        <div class="date">
            <b>Date</b>
            <span>2024-04-6</span>
        </div>
        <span class="status">In</span>
    </div>

    <div class="item">
        <div class="date">
            <b>Date</b>
            <span>2024-04-6</span>
        </div>
        <span class="status">In</span>
    </div>
    <div class="item">
        <div class="date">
            <b>Date</b>
            <span>2024-04-6</span>
        </div>
        <span class="status">In</span>
    </div>
    <div class="item">
        <div class="date">
            <b>Date</b>
            <span>2024-04-6</span>
        </div>
        <span class="status">In</span>
    </div>
    <div class="item">
        <div class="date">
            <b>Date</b>
            <span>2024-04-6</span>
        </div>
        <span class="status">In</span>
    </div>
</div>
