<app-header></app-header>
<app-return [pageName]="'Profile'"></app-return>

<div class="content" *ngFor="let profile of profileData">
    
    <div class="item">
        <div class="date">
            <b>Full Name</b>
            <span>{{profile.family_full_name}}</span>
        </div>
    </div>

    <div class="item">
        <div class="date">
            <b>Email Address</b>
            <span>{{profile.family_email}}</span>
        </div>
    </div>

    <div class="item">
        <div class="date">
            <b>Phone</b>
            <span>{{profile.family_phone}}</span>
        </div>
    </div>

    <div class="item">
        <div class="date">
            <b>Occupation</b>
            <span>{{profile.family_occupation}}</span>
        </div>
    </div>


    <div class="item">
        <div class="date">
            <b>Nationality</b>
            <span>{{profile.family_nationality}}</span>
        </div>
    </div>
    
    <div class="item">
        <div class="date">
            <b>Child's Name</b>
            <span>{{profile.other_name}} {{profile.sname}}</span>
        </div>
    </div>
</div>
