<app-header></app-header>
<br/><br/><br/><br/><br/>
<div class="cardsWrapper">
    <div class="card1" [routerLink]="['/attendance']">
        <i class="fa-solid fa-door-open"></i><span>Attendance</span>
    </div>
    <div class="card2" [routerLink]="['/report']">
        <i class="fa-regular fa-folder-open"></i><span>Report</span>
    </div>
    <div class="card3" [routerLink]="['/material']">
        <i class="fa-solid fa-toilet-paper"></i><span>Material</span>
    </div>
    <div class="card4" [routerLink]="['/fees']">
        <i class="fa-regular fa-money-bill-1"></i><span>Fee</span>
    </div>
</div>
