body { font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@media (min-width:820px)  { 
    body{
        width: 500px !important;
        margin: auto !important;
    }
}